<div id="subscribe-block">
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/bennorris"
    method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/bennorris', 'popupwindow')"
    id="subscribe-form"
  >
    <label for="email-input">Subscribe to get future updates in your inbox</label>
    <div class="email-input-row">
      <input type="email" name="email" id="email-input" class="email-input" required placeholder="Your email (you@example.com)" />
      <button type="submit" data-analytics='"Subscribe", {"props":{"location":"post","newsletter":"mwh"}}' class="btn"><span class="icon">{% include icon-email.svg %}</span>Subscribe now</button>
    </div>
    <input type="hidden" name="tag" value="Sketchnotable" />
  </form>
</div>    
